<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="/">My Blog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
      
  <div class="collapse navbar-collapse" id="navbarCollapse">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="/">Ana Sayfa </a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="/about">Blog Hakkında </a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="/articles">Makaleler </a>
    </li>
  </ul>
          
  <ul class="navbar-nav ml-auto" style="float: right">
            {% if session["logged_in"] %}
    <li>
      <button type="button" class="btn btn-primary"> Notifications <span class="badge badge-dark">0</span>
      </button>
    </li>
    <li>
      <div class="btn-group ">
        <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{session.username}} Kullanıcı Menüsü
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/user/{{session.username}}">Profile Git</a>
          <a class="dropdown-item" href="/userdashboard">Kontrol Paneli</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logout">Çıkış Yap</a>
        </div>
      </div>
    </li>
  </ul>
            {% else %}
  <li class="nav-item active">
    <a class="nav-link" href="/register">Kayıt Ol </a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="/login">Giriş Yap </a>
  </li>
            {% endif %}
  </ul>
      </div>
</nav>
