{% extends "layout.html" %}

{% block body %}

<div class="container">
    <br>
    <h1>Örnek Başlık <span class="badge badge-secondary">Yeni!</span></h1>
    <a href="#" class="badge badge-primary">Astronomi</a>
<a href="#" class="badge badge-warning">Fizik</a>
<a href="#" class="badge badge-success">Bilim</a>
<a href="#" class="badge badge-dark">Dark</a>
</div>
  <div class="jumbotron text-center">
<p style="text-align: left;font: 12">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac scelerisque leo, in volutpat nisi. Proin vitae ante vitae nisi vulputate pulvinar in id risus. Mauris ullamcorper purus at bibendum ullamcorper. Integer bibendum lectus in mattis finibus. Etiam in tempor ipsum. Mauris dapibus faucibus posuere. Aenean dapibus arcu ultrices arcu malesuada tincidunt. Aliquam tempor nec erat quis pulvinar. Suspendisse fringilla urna vitae leo sodales bibendum. Duis at lobortis tortor.
Aliquam eu justo velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur finibus sodales ex et cursus. Phasellus cursus suscipit sapien id porttitor. Aenean auctor dui non maximus finibus. Integer dapibus ultrices lacinia. Vivamus rhoncus felis vehicula sagittis placerat. Nullam pharetra viverra lorem, non fringilla ligula malesuada in. Nulla consectetur elementum quam ac efficitur. Donec quam massa, vestibulum in mauris tempus, gravida dictum mauris.

</p>

      
  </div>

<br><br><br><br>






{% endblock body %}